Flows/flows.json
[{"id":"e889a496.14cbd8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c628cf6e.6dafc","type":"tab","label":"Page Membres","disabled":false,"info":""},{"id":"e7d932b7.32a4","type":"tab","label":"Page Fablab","disabled":false,"info":""},{"id":"3675da07.bed656","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"fbb7d4f8.fe08c8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f0be6296.a0cae","type":"ui_tab","name":"Membres","icon":"dashboard","disabled":false,"hidden":false},{"id":"6281e5e4.593e3c","type":"ui_group","name":"afficher_info","tab":"f0be6296.a0cae","order":2,"disp":false,"width":"13","collapse":false},{"id":"7d422cf8.c68c94","type":"ui_tab","name":"Fablab","icon":"dashboard","disabled":false,"hidden":false},{"id":"b32a3d5a.20cd3","type":"ui_group","name":"Quelles machines ont été utilisées ?","tab":"7d422cf8.c68c94","order":1,"disp":true,"width":"12","collapse":false},{"id":"4818396.cf68cc8","type":"ui_group","name":"submition","tab":"7d422cf8.c68c94","order":4,"disp":false,"width":"27","collapse":false},{"id":"50d49dcf.ae1d04","type":"ui_spacer","name":"spacer","group":null,"order":4,"width":"10","height":1},{"id":"f7753346.48991","type":"ui_spacer","name":"spacer","group":"4818396.cf68cc8","order":3,"width":1,"height":1},{"id":"866deede.067168","type":"ui_spacer","name":"spacer","group":"4818396.cf68cc8","order":1,"width":1,"height":1},{"id":"93f5933f.0547f","type":"ui_spacer","name":"spacer","group":"40412f0c.51e68","order":4,"width":1,"height":1},{"id":"cf12dff7.eb84b","type":"ui_spacer","name":"spacer","group":"b32a3d5a.20cd3","order":6,"width":1,"height":1},{"id":"8c602b3a.317858","type":"ui_spacer","name":"spacer","group":"6281e5e4.593e3c","order":2,"width":1,"height":1},{"id":"ac77184.e78e768","type":"ui_spacer","name":"spacer","group":"6281e5e4.593e3c","order":2,"width":1,"height":1},{"id":"4da05f5c.f174d8","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"3","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"salut","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"cbb24df7.952138","type":"sqlitedb","db":"/home/pi/Documents/bocal_db/bocal","mode":"RWC"},{"id":"2c20d4b5.f1aa14","type":"ui_group","name":"Membre_sub","tab":"f0be6296.a0cae","order":1,"disp":false,"width":"24","collapse":false},{"id":"5cad1415.0ad18c","type":"ui_group","name":"choix du membre du Fablab","tab":"7d422cf8.c68c94","order":3,"disp":true,"width":"12","collapse":false},{"id":"8b5d55eb.b531","type":"sqlitedb","z":"c628cf6e.6dafc","db":"/home/pi/bocal_db/utilisateurs.db","mode":"RWC"},{"id":"27e7ad2c.4c103a","type":"ui_group","z":"e7d932b7.32a4","name":"Choix du membre du Fablab","tab":"7d422cf8.c68c94","order":2,"disp":true,"width":"12","collapse":false},{"id":"2ffa5a86.011bbe","type":"ui_tab","name":"RFID","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"44e907c.adbfe78","type":"ui_group","name":"Modifie RFID","tab":"2ffa5a86.011bbe","order":1,"disp":true,"width":"12","collapse":false},{"id":"871ee8c5.50024","type":"sqlite","z":"c628cf6e.6dafc","mydb":"cbb24df7.952138","sqlquery":"msg.topic","sql":"","name":"bocal","x":570,"y":440,"wires":[[]]},{"id":"6b69c1e4.d88918","type":"inject","z":"c628cf6e.6dafc","name":"display all","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM utilisateurs;","payload":"","payloadType":"date","x":110,"y":600,"wires":[[]]},{"id":"82919b9a.f427c","type":"debug","z":"c628cf6e.6dafc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":680,"wires":[]},{"id":"2857267b.92fd22","type":"change","z":"c628cf6e.6dafc","name":"","rules":[{"t":"set","p":"nom","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":80,"wires":[[]]},{"id":"e9d67dad.6796b8","type":"change","z":"c628cf6e.6dafc","name":"","rules":[{"t":"set","p":"prenom","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":120,"wires":[[]]},{"id":"14ca09b4.309d5e","type":"inject","z":"c628cf6e.6dafc","name":"inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"INSERT INTO utilisateurs(Nom, Prenom, date) VALUES( 'Pancakes', '75', 'OK');","payload":"","payloadType":"date","x":90,"y":680,"wires":[[]]},{"id":"41e5c9a8.fe12a","type":"function","z":"c628cf6e.6dafc","name":"","func":"var prenom = msg.prenom;\nvar nom = msg.nom;\nvar mail= msg.mail;\nvar telephone=msg.telephone;\nvar nuid=msg.nuid;\n\nmsg.topic=\"INSERT INTO utilisateurs(Nom, Prenom, date, Mail, Telephone, RFID) VALUES( '\"+nom+\"', '\"+prenom+\"', 'OK', '\"+mail+\"' , '\"+telephone+\"', '\"+nuid+\"');\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":440,"wires":[["871ee8c5.50024"]]},{"id":"5618c436.7df77c","type":"change","z":"c628cf6e.6dafc","name":"","rules":[{"t":"delete","p":"event","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":620,"wires":[[]]},{"id":"f80f5ef9.058dc8","type":"ui_button","z":"c628cf6e.6dafc","name":"","group":"2c20d4b5.f1aa14","order":7,"width":0,"height":0,"passthru":false,"label":"envoi","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":90,"y":440,"wires":[["fb7a5b42.11c0d","43328bb9.8d347c"]]},{"id":"895a72a1.3f85c","type":"ui_text_input","z":"c628cf6e.6dafc","name":"Nom","label":"nom","tooltip":"","group":"2c20d4b5.f1aa14","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","topicType":"str","x":70,"y":80,"wires":[["2857267b.92fd22"]]},{"id":"14f62b0f.76bf4d","type":"ui_text_input","z":"c628cf6e.6dafc","name":"","label":"prenom","tooltip":"","group":"2c20d4b5.f1aa14","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":80,"y":120,"wires":[["e9d67dad.6796b8"]]},{"id":"1c264480.9aa364","type":"ui_template","z":"c628cf6e.6dafc","group":"6281e5e4.593e3c","name":"","order":3,"width":"6","height":"8","format":"<table style=\"width:100%\">\n  <tr>\n    <th>Nom</th>\n    <th>Prénom</th> \n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:200\">\n    <td>{{msg.payload[$index].Nom}}</td>\n    <td>{{msg.payload[$index].Prenom}}</td>\n    <td>{{msg.payload[$index].Mail}}</td>\n    <td>{{msg.payload[$index].Telephone}}</td>\n    <td>{{msg.payload[$index].RFID}}</td>\n    \n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":600,"y":540,"wires":[[]]},{"id":"92c1262c.b6f98","type":"change","z":"c628cf6e.6dafc","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"SELECT * FROM utilisateurs ORDER BY Membre_Id DESC;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":540,"wires":[["b577f8c2.605188","82919b9a.f427c"]]},{"id":"b577f8c2.605188","type":"sqlite","z":"c628cf6e.6dafc","mydb":"cbb24df7.952138","sqlquery":"msg.topic","sql":"","name":"bocal","x":430,"y":540,"wires":[["1c264480.9aa364","82919b9a.f427c"]]},{"id":"fb7a5b42.11c0d","type":"delay","z":"c628cf6e.6dafc","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":230,"y":480,"wires":[["92c1262c.b6f98"]]},{"id":"dbde9f4a.8df81","type":"ui_ui_control","z":"c628cf6e.6dafc","name":"","events":"all","x":80,"y":540,"wires":[["92c1262c.b6f98"]]},{"id":"72cbaf88.11a5c8","type":"change","z":"c628cf6e.6dafc","name":"","rules":[{"t":"set","p":"mail","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":160,"wires":[[]]},{"id":"fd3f7668.97de6","type":"ui_text_input","z":"c628cf6e.6dafc","name":"","label":"mail","tooltip":"","group":"2c20d4b5.f1aa14","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":70,"y":160,"wires":[["72cbaf88.11a5c8"]]},{"id":"c7d011af.5515f8","type":"change","z":"c628cf6e.6dafc","name":"","rules":[{"t":"set","p":"telephone","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":200,"wires":[[]]},{"id":"f54dc8e8.daa31","type":"ui_text_input","z":"c628cf6e.6dafc","name":"","label":"telephone","tooltip":"","group":"2c20d4b5.f1aa14","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","topicType":"str","x":80,"y":200,"wires":[["c7d011af.5515f8"]]},{"id":"43328bb9.8d347c","type":"change","z":"c628cf6e.6dafc","name":"","rules":[{"t":"set","p":"nom","pt":"msg","to":"nom","tot":"flow"},{"t":"set","p":"prenom","pt":"msg","to":"prenom","tot":"flow"},{"t":"set","p":"mail","pt":"msg","to":"mail","tot":"flow"},{"t":"set","p":"telephone","pt":"msg","to":"telephone","tot":"flow"},{"t":"set","p":"nuid","pt":"msg","to":"nuid","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":440,"wires":[["41e5c9a8.fe12a"]]},{"id":"c432fd5f.f8a3b8","type":"ui_dropdown","z":"e7d932b7.32a4","name":"","label":"","tooltip":"","place":"Selectionner membre","group":"27e7ad2c.4c103a","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[],"payload":"","topic":"","x":360,"y":140,"wires":[["ae8dbe71.65c988"]]},{"id":"5e7f9d91.b592d4","type":"sqlite","z":"e7d932b7.32a4","mydb":"cbb24df7.952138","sqlquery":"msg.topic","sql":"","name":"bocal","x":390,"y":60,"wires":[["f6b9e39c.afb6"]]},{"id":"aae7a3a6.138b08","type":"change","z":"e7d932b7.32a4","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":60,"wires":[["c432fd5f.f8a3b8"]]},{"id":"f6b9e39c.afb6","type":"split","z":"e7d932b7.32a4","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":510,"y":60,"wires":[["711f5535.42997c"]]},{"id":"711f5535.42997c","type":"split","z":"e7d932b7.32a4","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":630,"y":60,"wires":[["a8af7201.1f3a58"]]},{"id":"8b393d9e.bfbbf8","type":"join","z":"e7d932b7.32a4","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":970,"y":60,"wires":[["aae7a3a6.138b08"]]},{"id":"a8af7201.1f3a58","type":"change","z":"e7d932b7.32a4","name":"","rules":[{"t":"delete","p":"parts","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":60,"wires":[["8b393d9e.bfbbf8","bf179983.4ac208"]]},{"id":"ae8dbe71.65c988","type":"change","z":"e7d932b7.32a4","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"SELECT * FROM utilisateurs WHERE Nom='Nom_Nom';","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"Nom_Nom","fromt":"str","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":140,"wires":[["6549e03.391d82"]]},{"id":"6549e03.391d82","type":"sqlite","z":"e7d932b7.32a4","mydb":"cbb24df7.952138","sqlquery":"msg.topic","sql":"","name":"bocal","x":670,"y":140,"wires":[["39de1044.c9eda8","979e155b.9e16b"]]},{"id":"1fc6bd0d.cb777b","type":"debug","z":"e7d932b7.32a4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":400,"wires":[]},{"id":"18b4a408.308bac","type":"ui_button","z":"e7d932b7.32a4","name":"","group":"4818396.cf68cc8","order":4,"width":0,"height":0,"passthru":false,"label":"Soumettre Entrée","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":270,"y":480,"wires":[["b368c3c8.6eea","a5aa71a8.864e7","81f6d12c.5d6028"]]},{"id":"b368c3c8.6eea","type":"delay","z":"e7d932b7.32a4","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":420,"wires":[["9e938368.1c1098"]]},{"id":"9e938368.1c1098","type":"change","z":"e7d932b7.32a4","name":"","rules":[{"t":"set","p":"machines","pt":"flow","to":"cnc ¦ 3D ¦ Vinyl ¦ Laser ¦ Brodeuse","tot":"str"},{"t":"change","p":"machines","pt":"flow","from":"cnc","fromt":"str","to":"cnc","tot":"global"},{"t":"change","p":"machines","pt":"flow","from":"3D","fromt":"str","to":"3D","tot":"global"},{"t":"change","p":"machines","pt":"flow","from":"Vinyl","fromt":"str","to":"vinyl","tot":"global"},{"t":"change","p":"machines","pt":"flow","from":"Laser","fromt":"str","to":"laser","tot":"global"},{"t":"change","p":"machines","pt":"flow","from":"Brodeuse","fromt":"str","to":"Brodeuse","tot":"global"},{"t":"set","p":"payload","pt":"msg","to":"machines","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":420,"wires":[[]]},{"id":"fd9b3cb0.2cc758","type":"change","z":"e7d932b7.32a4","name":"","rules":[{"t":"set","p":"machines","pt":"msg","to":"machines","tot":"flow"},{"t":"set","p":"nom","pt":"msg","to":"nom","tot":"flow"},{"t":"set","p":"prenom","pt":"msg","to":"prenom","tot":"flow"},{"t":"set","p":"autonomie","pt":"msg","to":"Auto","tot":"global"},{"t":"set","p":"date","pt":"msg","to":"$now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":480,"wires":[["258c205a.6e82b"]]},{"id":"a5aa71a8.864e7","type":"delay","z":"e7d932b7.32a4","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":480,"wires":[["fd9b3cb0.2cc758"]]},{"id":"7a3cca.8dc75b38","type":"change","z":"e7d932b7.32a4","name":"","rules":[{"t":"set","p":"nom","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":180,"wires":[[]]},{"id":"88b8877c.7d6148","type":"change","z":"e7d932b7.32a4","name":"","rules":[{"t":"set","p":"prenom","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":260,"wires":[[]]},{"id":"258c205a.6e82b","type":"change","z":"e7d932b7.32a4","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"INSERT INTO fablab_log(membre_nom, membre_prenom, machines_outils,date_log,membre_autonomie,remarques) VALUES( 'nom_log','pre_log', 'machine_log', 'date_log_log', 'autonomie_log','remarques_log');","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"nom_log","fromt":"str","to":"nom","tot":"flow"},{"t":"change","p":"topic","pt":"msg","from":"pre_log","fromt":"str","to":"prenom","tot":"msg"},{"t":"change","p":"topic","pt":"msg","from":"machine_log","fromt":"str","to":"machines","tot":"msg"},{"t":"change","p":"topic","pt":"msg","from":"date_log_log","fromt":"str","to":"date","tot":"msg"},{"t":"change","p":"topic","pt":"msg","from":"autonomie_log","fromt":"str","to":"Auto","tot":"global"},{"t":"change","p":"topic","pt":"msg","from":"remarques_log","fromt":"str","to":"remarques","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":460,"wires":[["5dd893a8.80abf4","1fc6bd0d.cb777b"]]},{"id":"5dd893a8.80abf4","type":"sqlite","z":"e7d932b7.32a4","mydb":"cbb24df7.952138","sqlquery":"msg.topic","sql":"","name":"bocal","x":1030,"y":480,"wires":[[]]},{"id":"b41f921.4d6e2f","type":"ui_text_input","z":"e7d932b7.32a4","name":"","label":"Remarques","tooltip":"","group":"4818396.cf68cc8","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","topicType":"str","x":850,"y":320,"wires":[["d969ab3d.db14e"]]},{"id":"d969ab3d.db14e","type":"change","z":"e7d932b7.32a4","name":"","rules":[{"t":"set","p":"remarques","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":320,"wires":[[]]},{"id":"220c657b.a7f862","type":"ui_template","z":"e7d932b7.32a4","group":"4818396.cf68cc8","name":"derniere_entrees","order":7,"width":"0","height":"0","format":"<table style=\"width:100%\">\n  <tr ng-repeat=\"x in msg.payload | limitTo:200\">\n    <td>{{msg.payload[$index].membre_nom}}</td>\n    <td>{{msg.payload[$index].membre_prenom}}</td>\n    <td>{{msg.payload[$index].machines_outils}}</td>\n    <td>{{msg.payload[$index].membre_autonomie}}</td>\n    <td>{{msg.payload[$index].remarques}}</td>\n    <td>{{msg.payload[$index].date_log}}</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1070,"y":580,"wires":[[]]},{"id":"e84d020e.c28b3","type":"change","z":"e7d932b7.32a4","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"SELECT * FROM fablab_log ORDER BY log_id DESC LIMIT 10;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":580,"wires":[["3a2e52d9.07fc4e"]]},{"id":"3a2e52d9.07fc4e","type":"sqlite","z":"e7d932b7.32a4","mydb":"cbb24df7.952138","sqlquery":"msg.topic","sql":"","name":"bocal","x":830,"y":580,"wires":[["220c657b.a7f862"]]},{"id":"4d9f1ce2.a65fd4","type":"ui_text","z":"e7d932b7.32a4","group":"4818396.cf68cc8","order":6,"width":0,"height":0,"name":"","label":"Dernières entrées","format":"{{msg.payload}}","layout":"row-spread","x":1070,"y":540,"wires":[]},{"id":"81f6d12c.5d6028","type":"delay","z":"e7d932b7.32a4","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":580,"wires":[["e84d020e.c28b3"]]},{"id":"bebb4975.39148","type":"ui_ui_control","z":"e7d932b7.32a4","name":"","events":"connect","x":60,"y":60,"wires":[["282dbe72.3e1222","81f6d12c.5d6028"]]},{"id":"282dbe72.3e1222","type":"change","z":"e7d932b7.32a4","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"SELECT Nom FROM utilisateurs;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":60,"wires":[["5e7f9d91.b592d4"]]},{"id":"acc3dbd1.fcf4a8","type":"ui_text","z":"e7d932b7.32a4","group":"27e7ad2c.4c103a","order":2,"width":0,"height":0,"name":"","label":"Nom","format":"{{msg.payload}}","layout":"row-spread","x":1070,"y":140,"wires":[]},{"id":"39de1044.c9eda8","type":"change","z":"e7d932b7.32a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.0.Nom","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":140,"wires":[["acc3dbd1.fcf4a8","7a3cca.8dc75b38"]]},{"id":"979e155b.9e16b","type":"change","z":"e7d932b7.32a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.0.Prenom","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":220,"wires":[["a986ed27.2acb8","88b8877c.7d6148"]]},{"id":"a986ed27.2acb8","type":"ui_text","z":"e7d932b7.32a4","group":"27e7ad2c.4c103a","order":3,"width":0,"height":0,"name":"","label":"Prenom","format":"{{msg.payload}}","layout":"row-spread","x":1080,"y":220,"wires":[]},{"id":"bf179983.4ac208","type":"debug","z":"e7d932b7.32a4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1210,"y":120,"wires":[]},{"id":"813cfc5b.2ff2e8","type":"ui_button","z":"e7d932b7.32a4","name":"","group":"b32a3d5a.20cd3","order":5,"width":"0","height":"0","passthru":false,"label":"CNC","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"press","payloadType":"str","topic":"","topicType":"str","x":850,"y":780,"wires":[["4edc2450.1b40ac"]]},{"id":"40ca783.9cd5188","type":"change","z":"e7d932b7.32a4","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"<i class=\"fa fa-rotate-90 fa-folder-open-o\"></i> OPEN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":740,"wires":[["813cfc5b.2ff2e8"]]},{"id":"4edc2450.1b40ac","type":"function","z":"e7d932b7.32a4","name":"state_cnc","func":"var state_cnc = context.state_cnc || false;\nstate_cnc = !state_cnc;\ncontext.state_cnc = state_cnc;\nif (state_cnc) { \n    global.set(\"cnc\", '');\n    return [null,msg];\n    }\nelse { \n\n    \n    global.set(\"cnc\", 'cnc');\n    return [msg,null]; \n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":440,"y":780,"wires":[["40ca783.9cd5188"],["b860b2e.582d15"]]},{"id":"b860b2e.582d15","type":"change","z":"e7d932b7.32a4","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"<i class=\"fa fa-rotate-90 fa-folder-o\"></i> Closed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":780,"wires":[["813cfc5b.2ff2e8"]]},{"id":"e489ce93.905078","type":"ui_button","z":"e7d932b7.32a4","name":"","group":"b32a3d5a.20cd3","order":4,"width":"0","height":"0","passthru":false,"label":"LASER","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"press","payloadType":"str","topic":"","x":860,"y":880,"wires":[["99a47c03.32956"]]},{"id":"4282d951.ab867","type":"change","z":"e7d932b7.32a4","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"<i class=\"fa fa-rotate-90 fa-folder-open-o\"></i> OPEN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":840,"wires":[["e489ce93.905078"]]},{"id":"99a47c03.32956","type":"function","z":"e7d932b7.32a4","name":"state_laser","func":"var state_laser = context.state_laser || false;\nstate_laser = !state_laser;\ncontext.state_laser = state_laser;\nif (state_laser) { \n    global.set(\"laser\", '');\n    return [null,msg];\n }\nelse { \n    global.set(\"laser\", 'laser');\n    return [msg,null];\n }\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":450,"y":880,"wires":[["4282d951.ab867"],["fda48041.77b9f"]]},{"id":"fda48041.77b9f","type":"change","z":"e7d932b7.32a4","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"<i class=\"fa fa-rotate-90 fa-folder-o\"></i> Closed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":880,"wires":[["e489ce93.905078"]]},{"id":"673ec583.0c922c","type":"ui_button","z":"e7d932b7.32a4","name":"","group":"b32a3d5a.20cd3","order":3,"width":"0","height":"0","passthru":false,"label":"Vinyl","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"press","payloadType":"str","topic":"","x":850,"y":980,"wires":[["5b89e2de.78b53c"]]},{"id":"87274588.1e7fc","type":"change","z":"e7d932b7.32a4","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"<i class=\"fa fa-rotate-90 fa-folder-open-o\"></i> OPEN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":940,"wires":[["673ec583.0c922c"]]},{"id":"5b89e2de.78b53c","type":"function","z":"e7d932b7.32a4","name":"state_vinyl","func":"var state_vinyl = context.state_vinyl || false;\nstate_vinyl = !state_vinyl;\ncontext.state_vinyl = state_vinyl;\nif (state_vinyl) { \n        global.set(\"vinyl\", '');\n    return [null,msg]; \n}\nelse { \n\n        global.set(\"vinyl\", 'vinyl');\n    return [msg,null]; \n}\n","outputs":2,"noerr":0,"x":450,"y":980,"wires":[["87274588.1e7fc"],["19c2ac4e.974dd4"]]},{"id":"19c2ac4e.974dd4","type":"change","z":"e7d932b7.32a4","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"<i class=\"fa fa-rotate-90 fa-folder-o\"></i> Closed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":980,"wires":[["673ec583.0c922c"]]},{"id":"ef1e3e0.5dee0c","type":"ui_button","z":"e7d932b7.32a4","name":"","group":"b32a3d5a.20cd3","order":2,"width":"0","height":"0","passthru":false,"label":"3D","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"press","payloadType":"str","topic":"","x":850,"y":1080,"wires":[["67072cbf.f5778c"]]},{"id":"1b166841.28eec8","type":"change","z":"e7d932b7.32a4","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"<i class=\"fa fa-rotate-90 fa-folder-open-o\"></i> OPEN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":1040,"wires":[["ef1e3e0.5dee0c"]]},{"id":"df8ae6f3.98022","type":"inject","z":"e7d932b7.32a4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"","payloadType":"str","x":70,"y":1000,"wires":[[]]},{"id":"67072cbf.f5778c","type":"function","z":"e7d932b7.32a4","name":"state_3D","func":"var state_3D = context.state_3D || false;\nstate_3D = !state_3D;\ncontext.state_3D = state_3D;\nif (state_3D) { \n        global.set(\"3D\", '');\n    return [null,msg]; \n}\nelse { \n        global.set(\"3D\", '3D');\n    return [msg,null]; \n}\n","outputs":2,"noerr":0,"x":440,"y":1080,"wires":[["1b166841.28eec8"],["fe8edbae.2df75"]]},{"id":"fe8edbae.2df75","type":"change","z":"e7d932b7.32a4","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"<i class=\"fa fa-rotate-90 fa-folder-o\"></i> Closed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":1080,"wires":[["ef1e3e0.5dee0c"]]},{"id":"39d2513e.a7da66","type":"ui_button","z":"e7d932b7.32a4","name":"","group":"b32a3d5a.20cd3","order":1,"width":"0","height":"0","passthru":false,"label":"Brodeuse","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"press","payloadType":"str","topic":"","x":860,"y":1180,"wires":[["6390684.99bbe98"]]},{"id":"f3521dc0.ebc958","type":"change","z":"e7d932b7.32a4","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"<i class=\"fa fa-rotate-90 fa-folder-open-o\"></i> OPEN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":1140,"wires":[["39d2513e.a7da66"]]},{"id":"5963905a.0ed0e","type":"inject","z":"e7d932b7.32a4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"","payloadType":"str","x":70,"y":1160,"wires":[[]]},{"id":"6390684.99bbe98","type":"function","z":"e7d932b7.32a4","name":"state_Brodeuse","func":"var state_Brodeuse = context.state_Brodeuse || false;\nstate_Brodeuse = !state_Brodeuse;\ncontext.state_Brodeuse = state_Brodeuse;\nif (state_Brodeuse) { \n        global.set(\"Brodeuse\", '');\n    return [null,msg]; \n }\nelse { \n        global.set(\"Brodeuse\", 'Brodeuse');\n    return [msg,null];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":460,"y":1180,"wires":[["f3521dc0.ebc958"],["7f1ffad1.150d0c"]]},{"id":"7f1ffad1.150d0c","type":"change","z":"e7d932b7.32a4","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"<i class=\"fa fa-rotate-90 fa-folder-o\"></i> Closed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":1180,"wires":[["39d2513e.a7da66"]]},{"id":"34028721.84ae88","type":"ui_ui_control","z":"e7d932b7.32a4","name":"","events":"connect","x":100,"y":940,"wires":[["579f6a71.a96334","c3aa796c.c06228","b2167134.c8c52","b62393d3.8ce","674867a7.57ba1"]]},{"id":"2a4d96af.2898da","type":"ui_button","z":"e7d932b7.32a4","name":"","group":"27e7ad2c.4c103a","order":5,"width":"0","height":"0","passthru":false,"label":"Autonome","tooltip":"","color":"","bgcolor":"{{color1}}","icon":"","payload":"1","payloadType":"num","topic":"","topicType":"str","x":570,"y":1260,"wires":[["a5083683.ad18c"]]},{"id":"a5083683.ad18c","type":"function","z":"e7d932b7.32a4","name":"state_autonomie","func":"var Boutton = msg.payload;\nmsg.color1=\"green\";\nif (Boutton==1) { \n    global.set(\"Auto\", 3);\n    msg.color1=\"green\";\n    msg.color2=\"blue\";\n    msg.color3=\"blue\";\n    return msg; \n }\nelse if (Boutton==2) { \n    global.set(\"Auto\", 2);\n    msg.color1=\"blue\";\n    msg.color2=\"green\";\n    msg.color3=\"blue\";\n\n    return msg; \n}\nelse if (Boutton==3) { \n    global.set(\"Auto\", 1);\n    msg.color1=\"blue\";\n    msg.color2=\"blue\";\n    msg.color3=\"green\";\n\n    return msg; \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":1300,"wires":[["2a4d96af.2898da","742b9517.bd625c","d957b3a.7ff39d"]]},{"id":"742b9517.bd625c","type":"ui_button","z":"e7d932b7.32a4","name":"","group":"27e7ad2c.4c103a","order":6,"width":"0","height":"0","passthru":false,"label":"Apprenti","tooltip":"","color":"","bgcolor":"{{color2}}","icon":"","payload":"2","payloadType":"num","topic":"","x":560,"y":1300,"wires":[["a5083683.ad18c"]]},{"id":"d957b3a.7ff39d","type":"ui_button","z":"e7d932b7.32a4","name":"","group":"27e7ad2c.4c103a","order":7,"width":"0","height":"0","passthru":false,"label":"Assité","tooltip":"","color":"","bgcolor":"{{color3}}","icon":"","payload":"3","payloadType":"num","topic":"","x":550,"y":1340,"wires":[["a5083683.ad18c"]]},{"id":"22a4e7a4.fc0fa8","type":"ui_button","z":"e7d932b7.32a4","name":"","group":"4818396.cf68cc8","order":5,"width":"0","height":"0","passthru":false,"label":"supprimer dernière entrer","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":1420,"wires":[["3d3c4f4d.a488f"]]},{"id":"b5356d61.780248","type":"sqlite","z":"e7d932b7.32a4","mydb":"cbb24df7.952138","sqlquery":"msg.topic","sql":"","name":"bocal","x":490,"y":1420,"wires":[[]]},{"id":"3d3c4f4d.a488f","type":"change","z":"e7d932b7.32a4","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"DELETE FROM  fablab_log  WHERE Log_id=(SELECT Max(Log_id) from fablab_log);","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":1420,"wires":[["b5356d61.780248"]]},{"id":"579f6a71.a96334","type":"function","z":"e7d932b7.32a4","name":"reset state_cnc","func":"var state_cnc = context.state_cnc || false;\nstate_cnc = !state_cnc;\ncontext.state_cnc = state_cnc;\nif (state_cnc) { \n    global.set(\"cnc\", '');\n    return [null,msg];\n    }\nelse { \n\n    \n    global.set(\"cnc\", '');\n    return [null,msg]; \n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":460,"y":740,"wires":[["40ca783.9cd5188"],["b860b2e.582d15"]]},{"id":"c3aa796c.c06228","type":"function","z":"e7d932b7.32a4","name":"reset state_laser","func":"var state_laser = context.state_laser || false;\nstate_laser = !state_laser;\ncontext.state_laser = state_laser;\nif (state_laser) { \n    global.set(\"laser\", '');\n    return [null,msg];\n }\nelse { \n    global.set(\"laser\", '');\n    return [null,msg];\n }\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":470,"y":840,"wires":[["4282d951.ab867"],["fda48041.77b9f"]]},{"id":"b2167134.c8c52","type":"function","z":"e7d932b7.32a4","name":"reset state_vinyl","func":"var state_vinyl = context.state_vinyl || false;\nstate_vinyl = !state_vinyl;\ncontext.state_vinyl = state_vinyl;\nif (state_vinyl) { \n        global.set(\"vinyl\", '');\n    return [null,msg]; \n}\nelse { \n\n        global.set(\"vinyl\", '');\n    return [null,msg]; \n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":460,"y":940,"wires":[["87274588.1e7fc"],["19c2ac4e.974dd4"]]},{"id":"b62393d3.8ce","type":"function","z":"e7d932b7.32a4","name":"reset state_3D","func":"var state_3D = context.state_3D || false;\nstate_3D = !state_3D;\ncontext.state_3D = state_3D;\nif (state_3D) { \n        global.set(\"3D\", '');\n    return [null,msg]; \n}\nelse { \n        global.set(\"3D\", '');\n    return [null,msg]; \n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":460,"y":1040,"wires":[["1b166841.28eec8"],["fe8edbae.2df75"]]},{"id":"674867a7.57ba1","type":"function","z":"e7d932b7.32a4","name":"reset state_Brodeuse","func":"var state_Brodeuse = context.state_Brodeuse || false;\nstate_Brodeuse = !state_Brodeuse;\ncontext.state_Brodeuse = state_Brodeuse;\nif (state_Brodeuse) { \n        global.set(\"Brodeuse\", '');\n    return [null,msg]; \n }\nelse { \n        global.set(\"Brodeuse\", '');\n    return [null,msg];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":480,"y":1140,"wires":[["f3521dc0.ebc958"],["7f1ffad1.150d0c"]]},{"id":"6c266bd.2db2a14","type":"debug","z":"e7d932b7.32a4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":1360,"wires":[]},{"id":"c00d2816.73b748","type":"sqlite","z":"e7d932b7.32a4","mydb":"cbb24df7.952138","sqlquery":"msg.topic","sql":"","name":"bocal","x":490,"y":1500,"wires":[[]]},{"id":"de58a5d1.ee15a","type":"ui_text_input","z":"e7d932b7.32a4","name":"","label":"supprimer id","tooltip":"","group":"4818396.cf68cc8","order":3,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"Current value","topicType":"str","x":70,"y":1500,"wires":[["19b61d7d.abee3b"]]},{"id":"19b61d7d.abee3b","type":"change","z":"e7d932b7.32a4","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"DELETE FROM  fablab_log  WHERE Log_id = 'toto' ","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"toto","fromt":"str","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1500,"wires":[["c00d2816.73b748"]]},{"id":"2006b410.67e864","type":"comment","z":"e7d932b7.32a4","name":"","info":"fonction de supression par nombre qui fonctionne,il suffit d'entre l'id pour supprimer la ligne,il manque juste a importer les log_id sur le dashboard pour savoir qui enlever ","x":620,"y":1500,"wires":[]},{"id":"c65fb61c.85e7c","type":"comment","z":"e7d932b7.32a4","name":"","info":"supprimer la dernière donnée rentrée et fonctionne","x":620,"y":1420,"wires":[]},{"id":"8ee96f23.7f73c8","type":"comment","z":"e7d932b7.32a4","name":"","info":"cette zone correspond a l'endroit ou sont inscrit les donnée rentrer j'ai penser que pour afficher l'id il fallait passer par ici mais pas réussis et fin de stage.","x":860,"y":500,"wires":[]},{"id":"3c18284.a098f58","type":"inject","z":"e889a496.14cbd8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"test","payload":"salut tout marche t le boss","payloadType":"str","x":370,"y":320,"wires":[["d062266a.aa3f98"]]},{"id":"d062266a.aa3f98","type":"mqtt out","z":"e889a496.14cbd8","name":"","topic":"test","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"4da05f5c.f174d8","x":620,"y":320,"wires":[]},{"id":"f567454.6985cb8","type":"mqtt in","z":"e889a496.14cbd8","name":"","topic":"test","qos":"0","datatype":"auto","broker":"4da05f5c.f174d8","nl":false,"rap":true,"rh":0,"x":210,"y":480,"wires":[["e73251a9.bb9d3"]]},{"id":"e73251a9.bb9d3","type":"debug","z":"e889a496.14cbd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":480,"y":500,"wires":[]},{"id":"bd8f9a16.4feff","type":"mqtt in","z":"e889a496.14cbd8","name":"","topic":"esp32/humidity","qos":"2","datatype":"auto","broker":"4da05f5c.f174d8","nl":false,"rap":true,"rh":0,"x":270,"y":620,"wires":[["b0da846c.611d78"]]},{"id":"83f14ad8.c6cfe","type":"debug","z":"e889a496.14cbd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":620,"wires":[]},{"id":"b0da846c.611d78","type":"function","z":"e889a496.14cbd8","name":"","func":"var payload = { payload: msg.payload.length };\nvar carteId = [177, 246, 109, 49];\n\nvar carteBlanche = true;\n\nfor(var i = 0; i < 4; i++){\n    payload[i] = msg.payload[i];\n\n    if(payload[i] != carteId[i]){\n        carteBlanche = false;\n    }\n}\n\n\nif(carteBlanche){\n    payload=\"carte blanche reconu\";\n}\n\n\n\nmsg.payload=payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":640,"wires":[["83f14ad8.c6cfe"]]},{"id":"b57ec5ba.ed3998","type":"ui_text","z":"c628cf6e.6dafc","group":"2c20d4b5.f1aa14","order":6,"width":0,"height":0,"name":"","label":"NUID RFID :","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":320,"wires":[]},{"id":"5b46e74f.8bd48","type":"mqtt in","z":"c628cf6e.6dafc","name":"","topic":"esp32/humidity","qos":"2","datatype":"auto","broker":"4da05f5c.f174d8","nl":false,"rap":true,"rh":0,"x":100,"y":320,"wires":[["3a869345.c5b76c"]]},{"id":"3a869345.c5b76c","type":"function","z":"c628cf6e.6dafc","name":"","func":"var payload = [];\n\nfor(var i = 0; i < 4; i++){\n    payload[i] = msg.payload[i];\n}\n\n\n\n\nmsg.payload=payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":340,"wires":[["b57ec5ba.ed3998","e3ab53a8.6f574"]]},{"id":"1c3db4b6.1ecf2b","type":"ui_text","z":"c628cf6e.6dafc","group":"2c20d4b5.f1aa14","order":5,"width":0,"height":0,"name":"","label":"passe une carte pour obtenir son NUID :","format":"{{msg.payload}}","layout":"row-spread","x":200,"y":260,"wires":[]},{"id":"e3ab53a8.6f574","type":"change","z":"c628cf6e.6dafc","name":"","rules":[{"t":"set","p":"nuid","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":380,"wires":[[]]},{"id":"28dcfac5.aa3bce","type":"ui_dropdown","z":"3675da07.bed656","name":"","label":"","tooltip":"","place":"Selectionner membre","group":"44e907c.adbfe78","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[],"payload":"","topic":"","topicType":"str","x":420,"y":220,"wires":[["28b7f4d6.ffbfec"]]},{"id":"20cd2bcd.0459f4","type":"sqlite","z":"3675da07.bed656","mydb":"cbb24df7.952138","sqlquery":"msg.topic","sql":"","name":"bocal","x":450,"y":140,"wires":[["1490de6c.53b362"]]},{"id":"583b3c4d.89c5e4","type":"change","z":"3675da07.bed656","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":140,"wires":[["28dcfac5.aa3bce"]]},{"id":"1490de6c.53b362","type":"split","z":"3675da07.bed656","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":570,"y":140,"wires":[["dfd58462.e86bc"]]},{"id":"dfd58462.e86bc","type":"split","z":"3675da07.bed656","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":690,"y":140,"wires":[["27a52fc0.b7bd3"]]},{"id":"55b08ef2.8f6c6","type":"join","z":"3675da07.bed656","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1030,"y":140,"wires":[["583b3c4d.89c5e4"]]},{"id":"27a52fc0.b7bd3","type":"change","z":"3675da07.bed656","name":"","rules":[{"t":"delete","p":"parts","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":140,"wires":[["55b08ef2.8f6c6","ef612035.24cf68"]]},{"id":"28b7f4d6.ffbfec","type":"change","z":"3675da07.bed656","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"SELECT * FROM utilisateurs WHERE Nom='Nom_Nom';","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"Nom_Nom","fromt":"str","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":220,"wires":[["decea3bf.8fa078"]]},{"id":"decea3bf.8fa078","type":"sqlite","z":"3675da07.bed656","mydb":"cbb24df7.952138","sqlquery":"msg.topic","sql":"","name":"bocal","x":730,"y":220,"wires":[["b4745160.5797","4b17ce07.23a0d8"]]},{"id":"4d106d5f.851924","type":"change","z":"3675da07.bed656","name":"","rules":[{"t":"set","p":"nom","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":260,"wires":[[]]},{"id":"cd553cb.90e184","type":"change","z":"3675da07.bed656","name":"","rules":[{"t":"set","p":"prenom","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":340,"wires":[[]]},{"id":"4aa9fc93.c644ac","type":"ui_ui_control","z":"3675da07.bed656","name":"","events":"connect","x":120,"y":140,"wires":[["396477ae.1148f"]]},{"id":"396477ae.1148f","type":"change","z":"3675da07.bed656","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"SELECT Nom FROM utilisateurs;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":140,"wires":[["20cd2bcd.0459f4"]]},{"id":"1295638f.8fd644","type":"ui_text","z":"3675da07.bed656","group":"44e907c.adbfe78","order":2,"width":0,"height":0,"name":"","label":"Nom","format":"{{msg.payload}}","layout":"row-spread","x":1130,"y":220,"wires":[]},{"id":"b4745160.5797","type":"change","z":"3675da07.bed656","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.0.Nom","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":220,"wires":[["1295638f.8fd644","4d106d5f.851924"]]},{"id":"4b17ce07.23a0d8","type":"change","z":"3675da07.bed656","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.0.Prenom","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":300,"wires":[["44d05e68.aab83","cd553cb.90e184"]]},{"id":"44d05e68.aab83","type":"ui_text","z":"3675da07.bed656","group":"44e907c.adbfe78","order":3,"width":0,"height":0,"name":"","label":"Prenom","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":300,"wires":[]},{"id":"ef612035.24cf68","type":"debug","z":"3675da07.bed656","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1270,"y":200,"wires":[]},{"id":"b52c3609.8e77b","type":"ui_text","z":"3675da07.bed656","group":"44e907c.adbfe78","order":5,"width":0,"height":0,"name":"","label":"NUID RFID :","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":440,"wires":[]},{"id":"62e52082.5ffe2","type":"mqtt in","z":"3675da07.bed656","name":"","topic":"esp32/humidity","qos":"2","datatype":"auto","broker":"4da05f5c.f174d8","nl":false,"rap":true,"rh":0,"x":360,"y":440,"wires":[["b1943d7e.e01988"]]},{"id":"b1943d7e.e01988","type":"function","z":"3675da07.bed656","name":"","func":"var payload = [];\n\nfor(var i = 0; i < 4; i++){\n    payload[i] = msg.payload[i];\n}\n\n\n\n\nmsg.payload=payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":460,"wires":[["b52c3609.8e77b","1dc932c1.9fbfcd"]]},{"id":"8e2b21e6.042548","type":"ui_text","z":"3675da07.bed656","group":"44e907c.adbfe78","order":4,"width":0,"height":0,"name":"","label":"passe une carte pour obtenir son NUID :","format":"{{msg.payload}}","layout":"row-spread","x":460,"y":380,"wires":[]},{"id":"1dc932c1.9fbfcd","type":"change","z":"3675da07.bed656","name":"","rules":[{"t":"set","p":"nuid","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":500,"wires":[[]]},{"id":"c9933d8b.f4291","type":"sqlite","z":"3675da07.bed656","mydb":"cbb24df7.952138","sqlquery":"msg.topic","sql":"","name":"bocal","x":830,"y":560,"wires":[[]]},{"id":"b5708d3d.3d5888","type":"debug","z":"3675da07.bed656","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":800,"wires":[]},{"id":"17d65976.843a67","type":"function","z":"3675da07.bed656","name":"","func":"var nuid=msg.nuid;\nvar prenom=msg.prenom;\nvar nom=msg.nom;\n\nmsg.topic=\"UPDATE utilisateurs SET RFID='\"+nuid+\"' WHERE Nom='\"+nom+\"' AND Prenom='\"+prenom+\"';\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":560,"wires":[["c9933d8b.f4291"]]},{"id":"2db95a38.aea95e","type":"ui_button","z":"3675da07.bed656","name":"","group":"44e907c.adbfe78","order":6,"width":0,"height":0,"passthru":false,"label":"modifié RFID","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":270,"y":560,"wires":[["23e1e61.ea2559a","1f95ceb7.606ea9"]]},{"id":"701061c.3a19fa","type":"ui_template","z":"3675da07.bed656","group":"44e907c.adbfe78","name":"","order":7,"width":"0","height":"0","format":"<table style=\"width:100%\">\n  <tr>\n    <th>Nom</th>\n    <th>Prénom</th> \n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:200\">\n    <td>{{msg.payload[$index].Nom}}</td>\n    <td>{{msg.payload[$index].Prenom}}</td>\n    <td>{{msg.payload[$index].Mail}}</td>\n    <td>{{msg.payload[$index].Telephone}}</td>\n    <td>{{msg.payload[$index].RFID}}</td>\n    \n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":860,"y":660,"wires":[[]]},{"id":"ae7a0e2b.c0198","type":"change","z":"3675da07.bed656","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"SELECT * FROM utilisateurs ORDER BY Membre_Id DESC;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":660,"wires":[["38ec8fab.a058d8","b5708d3d.3d5888"]]},{"id":"38ec8fab.a058d8","type":"sqlite","z":"3675da07.bed656","mydb":"cbb24df7.952138","sqlquery":"msg.topic","sql":"","name":"bocal","x":690,"y":660,"wires":[["701061c.3a19fa","b5708d3d.3d5888"]]},{"id":"23e1e61.ea2559a","type":"delay","z":"3675da07.bed656","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":600,"wires":[["ae7a0e2b.c0198"]]},{"id":"ef58a341.6b2068","type":"ui_ui_control","z":"3675da07.bed656","name":"","events":"all","x":340,"y":660,"wires":[["ae7a0e2b.c0198"]]},{"id":"1f95ceb7.606ea9","type":"change","z":"3675da07.bed656","name":"","rules":[{"t":"set","p":"nuid","pt":"msg","to":"nuid","tot":"flow"},{"t":"set","p":"nom","pt":"msg","to":"nom","tot":"flow"},{"t":"set","p":"prenom","pt":"msg","to":"prenom","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":560,"wires":[["17d65976.843a67"]]}]