flow node red/flows-modifier.json
[{"id":"a73ae1ee.97d06","type":"tab","label":"Page Membres","disabled":false,"info":""},{"id":"29a303e.52cb9fc","type":"tab","label":"Page Fablab","disabled":false,"info":""},{"id":"fbb7d4f8.fe08c8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f0be6296.a0cae","type":"ui_tab","name":"Membres","icon":"dashboard","disabled":false,"hidden":false},{"id":"6281e5e4.593e3c","type":"ui_group","name":"afficher_info","tab":"f0be6296.a0cae","order":2,"disp":false,"width":"13","collapse":false},{"id":"7d422cf8.c68c94","type":"ui_tab","name":"Fablab","icon":"dashboard","disabled":false,"hidden":false},{"id":"b32a3d5a.20cd3","type":"ui_group","name":"Quelles machines ont été utilisées ?","tab":"7d422cf8.c68c94","order":1,"disp":true,"width":"12","collapse":false},{"id":"4818396.cf68cc8","type":"ui_group","name":"submition","tab":"7d422cf8.c68c94","order":4,"disp":false,"width":"27","collapse":false},{"id":"50d49dcf.ae1d04","type":"ui_spacer","name":"spacer","group":null,"order":4,"width":"10","height":1},{"id":"f7753346.48991","type":"ui_spacer","name":"spacer","group":"4818396.cf68cc8","order":3,"width":1,"height":1},{"id":"fdc6d2cd.47a618","type":"sqlitedb","db":"/home/pi/Documents/bocal_db/bocal","mode":"RWC"},{"id":"7af24c93.3e8a8c","type":"ui_group","name":"Membre_sub","tab":"f0be6296.a0cae","order":1,"disp":false,"width":"24","collapse":false},{"id":"866deede.067168","type":"ui_spacer","name":"spacer","group":"4818396.cf68cc8","order":1,"width":1,"height":1},{"id":"93f5933f.0547f","type":"ui_spacer","name":"spacer","group":"40412f0c.51e68","order":4,"width":1,"height":1},{"id":"cf12dff7.eb84b","type":"ui_spacer","name":"spacer","group":"b32a3d5a.20cd3","order":6,"width":1,"height":1},{"id":"8c602b3a.317858","type":"ui_spacer","name":"spacer","group":"6281e5e4.593e3c","order":2,"width":1,"height":1},{"id":"ac77184.e78e768","type":"ui_spacer","name":"spacer","group":"6281e5e4.593e3c","order":2,"width":1,"height":1},{"id":"aa991fbc.2ffd08","type":"ui_group","name":"choix du membre du Fablab","tab":"7d422cf8.c68c94","order":3,"disp":true,"width":"12","collapse":false},{"id":"64c9fc52.e5da04","type":"sqlitedb","z":"a73ae1ee.97d06","db":"/home/pi/bocal_db/utilisateurs.db","mode":"RWC"},{"id":"85b3fe17.fa63e8","type":"ui_group","z":"29a303e.52cb9fc","name":"Choix du membre du Fablab","tab":"7d422cf8.c68c94","order":2,"disp":true,"width":"12","collapse":false},{"id":"f9199500.093fa","type":"sqlite","z":"a73ae1ee.97d06","mydb":"fdc6d2cd.47a618","sqlquery":"msg.topic","sql":"","name":"bocal","x":610,"y":240,"wires":[[]]},{"id":"87249cb9.46583","type":"inject","z":"a73ae1ee.97d06","name":"display all","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM utilisateurs;","payload":"","payloadType":"date","x":150,"y":400,"wires":[[]]},{"id":"df15e67.8488f98","type":"debug","z":"a73ae1ee.97d06","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":480,"wires":[]},{"id":"ec167320.a965f8","type":"change","z":"a73ae1ee.97d06","name":"","rules":[{"t":"set","p":"nom","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":80,"wires":[[]]},{"id":"93d5b5f7.5ab388","type":"change","z":"a73ae1ee.97d06","name":"","rules":[{"t":"set","p":"prenom","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":120,"wires":[[]]},{"id":"b4d5c706.34ccf8","type":"inject","z":"a73ae1ee.97d06","name":"inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"INSERT INTO utilisateurs(Nom, Prenom, date) VALUES( 'Pancakes', '75', 'OK');","payload":"","payloadType":"date","x":130,"y":480,"wires":[[]]},{"id":"1da1fe5f.543ada","type":"function","z":"a73ae1ee.97d06","name":"","func":"var prenom = msg.prenom;\nvar nom = msg.nom;\nvar mail= msg.mail;\nvar telephone=msg.telephone;\n\nmsg.topic=\"INSERT INTO utilisateurs(Nom, Prenom, date, Mail, Telephone) VALUES( '\"+nom+\"', '\"+prenom+\"', 'OK', '\"+mail+\"' , '\"+telephone+\"');\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":240,"wires":[["f9199500.093fa"]]},{"id":"e7f9fde3.b088c8","type":"change","z":"a73ae1ee.97d06","name":"","rules":[{"t":"delete","p":"event","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":420,"wires":[[]]},{"id":"7752ef49.26d9d","type":"ui_button","z":"a73ae1ee.97d06","name":"","group":"7af24c93.3e8a8c","order":10,"width":0,"height":0,"passthru":false,"label":"envoi","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":240,"wires":[["f312ab35.19b89","fbe83bb5.82a1c8"]]},{"id":"9c9b2444.366ec8","type":"ui_text_input","z":"a73ae1ee.97d06","name":"Nom","label":"nom","tooltip":"","group":"7af24c93.3e8a8c","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","topicType":"str","x":70,"y":80,"wires":[["ec167320.a965f8"]]},{"id":"40e6a5e6.9bd32c","type":"ui_text_input","z":"a73ae1ee.97d06","name":"","label":"prenom","tooltip":"","group":"7af24c93.3e8a8c","order":6,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":80,"y":120,"wires":[["93d5b5f7.5ab388"]]},{"id":"f59bdbd8.04d338","type":"ui_template","z":"a73ae1ee.97d06","group":"6281e5e4.593e3c","name":"","order":3,"width":"6","height":"8","format":"<table style=\"width:100%\">\n  <tr>\n    <th>Nom</th>\n    <th>Prénom</th> \n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:200\">\n    <td>{{msg.payload[$index].Nom}}</td>\n    <td>{{msg.payload[$index].Prenom}}</td>\n    <td>{{msg.payload[$index].Mail}}</td>\n    <td>{{msg.payload[$index].Telephone}}</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":640,"y":340,"wires":[[]]},{"id":"ced72bf2.638648","type":"change","z":"a73ae1ee.97d06","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"SELECT * FROM utilisateurs ORDER BY Membre_Id DESC;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":340,"wires":[["cb426711.e4a44","df15e67.8488f98"]]},{"id":"cb426711.e4a44","type":"sqlite","z":"a73ae1ee.97d06","mydb":"fdc6d2cd.47a618","sqlquery":"msg.topic","sql":"","name":"bocal","x":470,"y":340,"wires":[["f59bdbd8.04d338","df15e67.8488f98"]]},{"id":"f312ab35.19b89","type":"delay","z":"a73ae1ee.97d06","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":270,"y":280,"wires":[["ced72bf2.638648"]]},{"id":"bdace5a5.9d3c8","type":"ui_ui_control","z":"a73ae1ee.97d06","name":"","events":"all","x":120,"y":340,"wires":[["ced72bf2.638648"]]},{"id":"af355406.c72e08","type":"change","z":"a73ae1ee.97d06","name":"","rules":[{"t":"set","p":"mail","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":160,"wires":[[]]},{"id":"bc7dff15.257548","type":"ui_text_input","z":"a73ae1ee.97d06","name":"","label":"mail","tooltip":"","group":"7af24c93.3e8a8c","order":7,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":70,"y":160,"wires":[["af355406.c72e08"]]},{"id":"10b5233b.6bb4e5","type":"change","z":"a73ae1ee.97d06","name":"","rules":[{"t":"set","p":"telephone","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":200,"wires":[[]]},{"id":"e87133b6.81478","type":"ui_text_input","z":"a73ae1ee.97d06","name":"","label":"telephone","tooltip":"","group":"7af24c93.3e8a8c","order":8,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","topicType":"str","x":80,"y":200,"wires":[["10b5233b.6bb4e5"]]},{"id":"fbe83bb5.82a1c8","type":"change","z":"a73ae1ee.97d06","name":"","rules":[{"t":"set","p":"nom","pt":"msg","to":"nom","tot":"flow"},{"t":"set","p":"prenom","pt":"msg","to":"prenom","tot":"flow"},{"t":"set","p":"mail","pt":"msg","to":"mail","tot":"flow"},{"t":"set","p":"telephone","pt":"msg","to":"telephone","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":240,"wires":[["1da1fe5f.543ada"]]},{"id":"ee3766b6.e12c98","type":"ui_dropdown","z":"29a303e.52cb9fc","name":"","label":"","tooltip":"","place":"Selectionner membre","group":"85b3fe17.fa63e8","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[],"payload":"","topic":"","x":360,"y":140,"wires":[["cd4a94be.f743e"]]},{"id":"ea131945.8c44c8","type":"sqlite","z":"29a303e.52cb9fc","mydb":"fdc6d2cd.47a618","sqlquery":"msg.topic","sql":"","name":"bocal","x":390,"y":60,"wires":[["96c397c0.4fa39"]]},{"id":"6248aad0.559e84","type":"change","z":"29a303e.52cb9fc","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":60,"wires":[["ee3766b6.e12c98"]]},{"id":"96c397c0.4fa39","type":"split","z":"29a303e.52cb9fc","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":510,"y":60,"wires":[["ad23da8d.d0e6e"]]},{"id":"ad23da8d.d0e6e","type":"split","z":"29a303e.52cb9fc","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":630,"y":60,"wires":[["14539ca9.f8bb7b"]]},{"id":"f7dc10db.1ea208","type":"join","z":"29a303e.52cb9fc","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":970,"y":60,"wires":[["6248aad0.559e84"]]},{"id":"14539ca9.f8bb7b","type":"change","z":"29a303e.52cb9fc","name":"","rules":[{"t":"delete","p":"parts","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":60,"wires":[["f7dc10db.1ea208","784891a7.c4a2b"]]},{"id":"cd4a94be.f743e","type":"change","z":"29a303e.52cb9fc","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"SELECT * FROM utilisateurs WHERE Nom='Nom_Nom';","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"Nom_Nom","fromt":"str","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":140,"wires":[["dcd79d16.b80b38"]]},{"id":"dcd79d16.b80b38","type":"sqlite","z":"29a303e.52cb9fc","mydb":"fdc6d2cd.47a618","sqlquery":"msg.topic","sql":"","name":"bocal","x":670,"y":140,"wires":[["b228da50.ac99a","a103fe21.7984c8"]]},{"id":"f1674fff.3ed478","type":"debug","z":"29a303e.52cb9fc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":400,"wires":[]},{"id":"891baeb3.2cd65","type":"ui_button","z":"29a303e.52cb9fc","name":"","group":"4818396.cf68cc8","order":4,"width":0,"height":0,"passthru":false,"label":"Soumettre Entrée","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":270,"y":480,"wires":[["99c71ab4.8be8b8","f5389e51.50f448","9e2708ed.a86368"]]},{"id":"99c71ab4.8be8b8","type":"delay","z":"29a303e.52cb9fc","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":420,"wires":[["f66d4e54.de9f58"]]},{"id":"f66d4e54.de9f58","type":"change","z":"29a303e.52cb9fc","name":"","rules":[{"t":"set","p":"machines","pt":"flow","to":"cnc ¦ 3D ¦ Vinyl ¦ Laser ¦ Brodeuse","tot":"str"},{"t":"change","p":"machines","pt":"flow","from":"cnc","fromt":"str","to":"cnc","tot":"global"},{"t":"change","p":"machines","pt":"flow","from":"3D","fromt":"str","to":"3D","tot":"global"},{"t":"change","p":"machines","pt":"flow","from":"Vinyl","fromt":"str","to":"vinyl","tot":"global"},{"t":"change","p":"machines","pt":"flow","from":"Laser","fromt":"str","to":"laser","tot":"global"},{"t":"change","p":"machines","pt":"flow","from":"Brodeuse","fromt":"str","to":"Brodeuse","tot":"global"},{"t":"set","p":"payload","pt":"msg","to":"machines","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":420,"wires":[[]]},{"id":"b730e169.08c54","type":"change","z":"29a303e.52cb9fc","name":"","rules":[{"t":"set","p":"machines","pt":"msg","to":"machines","tot":"flow"},{"t":"set","p":"nom","pt":"msg","to":"nom","tot":"flow"},{"t":"set","p":"prenom","pt":"msg","to":"prenom","tot":"flow"},{"t":"set","p":"autonomie","pt":"msg","to":"Auto","tot":"global"},{"t":"set","p":"date","pt":"msg","to":"$now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":480,"wires":[["23076696.bc076a"]]},{"id":"f5389e51.50f448","type":"delay","z":"29a303e.52cb9fc","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":480,"wires":[["b730e169.08c54"]]},{"id":"f8b32ca7.4e8dd8","type":"change","z":"29a303e.52cb9fc","name":"","rules":[{"t":"set","p":"nom","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":180,"wires":[[]]},{"id":"281c3701.f1988","type":"change","z":"29a303e.52cb9fc","name":"","rules":[{"t":"set","p":"prenom","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":260,"wires":[[]]},{"id":"23076696.bc076a","type":"change","z":"29a303e.52cb9fc","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"INSERT INTO fablab_log(membre_nom, membre_prenom, machines_outils,date_log,membre_autonomie,remarques) VALUES( 'nom_log','pre_log', 'machine_log', 'date_log_log', 'autonomie_log','remarques_log');","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"nom_log","fromt":"str","to":"nom","tot":"flow"},{"t":"change","p":"topic","pt":"msg","from":"pre_log","fromt":"str","to":"prenom","tot":"msg"},{"t":"change","p":"topic","pt":"msg","from":"machine_log","fromt":"str","to":"machines","tot":"msg"},{"t":"change","p":"topic","pt":"msg","from":"date_log_log","fromt":"str","to":"date","tot":"msg"},{"t":"change","p":"topic","pt":"msg","from":"autonomie_log","fromt":"str","to":"Auto","tot":"global"},{"t":"change","p":"topic","pt":"msg","from":"remarques_log","fromt":"str","to":"remarques","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":460,"wires":[["7afca7fc.57d17","f1674fff.3ed478"]]},{"id":"7afca7fc.57d17","type":"sqlite","z":"29a303e.52cb9fc","mydb":"fdc6d2cd.47a618","sqlquery":"msg.topic","sql":"","name":"bocal","x":1030,"y":480,"wires":[[]]},{"id":"ad50cc1.b5e22b","type":"ui_text_input","z":"29a303e.52cb9fc","name":"","label":"Remarques","tooltip":"","group":"4818396.cf68cc8","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","topicType":"str","x":850,"y":320,"wires":[["8f5f1c77.543da"]]},{"id":"8f5f1c77.543da","type":"change","z":"29a303e.52cb9fc","name":"","rules":[{"t":"set","p":"remarques","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":320,"wires":[[]]},{"id":"e49fbcf0.06efb8","type":"ui_template","z":"29a303e.52cb9fc","group":"4818396.cf68cc8","name":"derniere_entrees","order":7,"width":"0","height":"0","format":"<table style=\"width:100%\">\n  <tr ng-repeat=\"x in msg.payload | limitTo:200\">\n    <td>{{msg.payload[$index].membre_nom}}</td>\n    <td>{{msg.payload[$index].membre_prenom}}</td>\n    <td>{{msg.payload[$index].machines_outils}}</td>\n    <td>{{msg.payload[$index].membre_autonomie}}</td>\n    <td>{{msg.payload[$index].remarques}}</td>\n    <td>{{msg.payload[$index].date_log}}</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1070,"y":580,"wires":[[]]},{"id":"1bed8bc9.6e3c04","type":"change","z":"29a303e.52cb9fc","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"SELECT * FROM fablab_log ORDER BY log_id DESC LIMIT 10;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":580,"wires":[["abe1e68c.73a948"]]},{"id":"abe1e68c.73a948","type":"sqlite","z":"29a303e.52cb9fc","mydb":"fdc6d2cd.47a618","sqlquery":"msg.topic","sql":"","name":"bocal","x":830,"y":580,"wires":[["e49fbcf0.06efb8"]]},{"id":"70510b65.d10d54","type":"ui_text","z":"29a303e.52cb9fc","group":"4818396.cf68cc8","order":6,"width":0,"height":0,"name":"","label":"Dernières entrées","format":"{{msg.payload}}","layout":"row-spread","x":1070,"y":540,"wires":[]},{"id":"9e2708ed.a86368","type":"delay","z":"29a303e.52cb9fc","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":580,"wires":[["1bed8bc9.6e3c04"]]},{"id":"f6c73ddf.a686e","type":"ui_ui_control","z":"29a303e.52cb9fc","name":"","events":"connect","x":60,"y":60,"wires":[["ceb67a6d.b86c68","9e2708ed.a86368"]]},{"id":"ceb67a6d.b86c68","type":"change","z":"29a303e.52cb9fc","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"SELECT Nom FROM utilisateurs;","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":60,"wires":[["ea131945.8c44c8"]]},{"id":"8955d70d.6c5a9","type":"ui_text","z":"29a303e.52cb9fc","group":"85b3fe17.fa63e8","order":2,"width":0,"height":0,"name":"","label":"Nom","format":"{{msg.payload}}","layout":"row-spread","x":1070,"y":140,"wires":[]},{"id":"b228da50.ac99a","type":"change","z":"29a303e.52cb9fc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.0.Nom","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":140,"wires":[["8955d70d.6c5a9","f8b32ca7.4e8dd8"]]},{"id":"a103fe21.7984c8","type":"change","z":"29a303e.52cb9fc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.0.Prenom","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":220,"wires":[["77ae978.69593e8","281c3701.f1988"]]},{"id":"77ae978.69593e8","type":"ui_text","z":"29a303e.52cb9fc","group":"85b3fe17.fa63e8","order":3,"width":0,"height":0,"name":"","label":"Prenom","format":"{{msg.payload}}","layout":"row-spread","x":1080,"y":220,"wires":[]},{"id":"784891a7.c4a2b","type":"debug","z":"29a303e.52cb9fc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1210,"y":120,"wires":[]},{"id":"b3b7ff33.4c29e8","type":"ui_button","z":"29a303e.52cb9fc","name":"","group":"b32a3d5a.20cd3","order":5,"width":"0","height":"0","passthru":false,"label":"CNC","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"press","payloadType":"str","topic":"","topicType":"str","x":850,"y":780,"wires":[["b2c45b10.5d3058"]]},{"id":"fe3213b3.b62b3","type":"change","z":"29a303e.52cb9fc","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"<i class=\"fa fa-rotate-90 fa-folder-open-o\"></i> OPEN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":740,"wires":[["b3b7ff33.4c29e8"]]},{"id":"b2c45b10.5d3058","type":"function","z":"29a303e.52cb9fc","name":"state_cnc","func":"var state_cnc = context.state_cnc || false;\nstate_cnc = !state_cnc;\ncontext.state_cnc = state_cnc;\nif (state_cnc) { \n    global.set(\"cnc\", '');\n    return [null,msg];\n    }\nelse { \n\n    \n    global.set(\"cnc\", 'cnc');\n    return [msg,null]; \n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":440,"y":780,"wires":[["fe3213b3.b62b3"],["ec834798.51b55"]]},{"id":"ec834798.51b55","type":"change","z":"29a303e.52cb9fc","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"<i class=\"fa fa-rotate-90 fa-folder-o\"></i> Closed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":780,"wires":[["b3b7ff33.4c29e8"]]},{"id":"b1ae422f.701f8","type":"ui_button","z":"29a303e.52cb9fc","name":"","group":"b32a3d5a.20cd3","order":4,"width":"0","height":"0","passthru":false,"label":"LASER","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"press","payloadType":"str","topic":"","x":860,"y":880,"wires":[["3de13edf.4c4c6a"]]},{"id":"f7c24328.95e04","type":"change","z":"29a303e.52cb9fc","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"<i class=\"fa fa-rotate-90 fa-folder-open-o\"></i> OPEN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":840,"wires":[["b1ae422f.701f8"]]},{"id":"3de13edf.4c4c6a","type":"function","z":"29a303e.52cb9fc","name":"state_laser","func":"var state_laser = context.state_laser || false;\nstate_laser = !state_laser;\ncontext.state_laser = state_laser;\nif (state_laser) { \n    global.set(\"laser\", '');\n    return [null,msg];\n }\nelse { \n    global.set(\"laser\", 'laser');\n    return [msg,null];\n }\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":450,"y":880,"wires":[["f7c24328.95e04"],["312d23f2.69caa4"]]},{"id":"312d23f2.69caa4","type":"change","z":"29a303e.52cb9fc","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"<i class=\"fa fa-rotate-90 fa-folder-o\"></i> Closed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":880,"wires":[["b1ae422f.701f8"]]},{"id":"5e5e5c18.3c76dc","type":"ui_button","z":"29a303e.52cb9fc","name":"","group":"b32a3d5a.20cd3","order":3,"width":"0","height":"0","passthru":false,"label":"Vinyl","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"press","payloadType":"str","topic":"","x":850,"y":980,"wires":[["de6f8913.28ffe"]]},{"id":"32765628.d1ce72","type":"change","z":"29a303e.52cb9fc","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"<i class=\"fa fa-rotate-90 fa-folder-open-o\"></i> OPEN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":940,"wires":[["5e5e5c18.3c76dc"]]},{"id":"de6f8913.28ffe","type":"function","z":"29a303e.52cb9fc","name":"state_vinyl","func":"var state_vinyl = context.state_vinyl || false;\nstate_vinyl = !state_vinyl;\ncontext.state_vinyl = state_vinyl;\nif (state_vinyl) { \n        global.set(\"vinyl\", '');\n    return [null,msg]; \n}\nelse { \n\n        global.set(\"vinyl\", 'vinyl');\n    return [msg,null]; \n}\n","outputs":2,"noerr":0,"x":450,"y":980,"wires":[["32765628.d1ce72"],["9691d570.666768"]]},{"id":"9691d570.666768","type":"change","z":"29a303e.52cb9fc","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"<i class=\"fa fa-rotate-90 fa-folder-o\"></i> Closed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":980,"wires":[["5e5e5c18.3c76dc"]]},{"id":"3900dffa.34b24","type":"ui_button","z":"29a303e.52cb9fc","name":"","group":"b32a3d5a.20cd3","order":2,"width":"0","height":"0","passthru":false,"label":"3D","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"press","payloadType":"str","topic":"","x":850,"y":1080,"wires":[["7f89493.95d80b8"]]},{"id":"6ad1696a.71a418","type":"change","z":"29a303e.52cb9fc","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"<i class=\"fa fa-rotate-90 fa-folder-open-o\"></i> OPEN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":1040,"wires":[["3900dffa.34b24"]]},{"id":"2d5df927.80059e","type":"inject","z":"29a303e.52cb9fc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"","payloadType":"str","x":70,"y":1000,"wires":[[]]},{"id":"7f89493.95d80b8","type":"function","z":"29a303e.52cb9fc","name":"state_3D","func":"var state_3D = context.state_3D || false;\nstate_3D = !state_3D;\ncontext.state_3D = state_3D;\nif (state_3D) { \n        global.set(\"3D\", '');\n    return [null,msg]; \n}\nelse { \n        global.set(\"3D\", '3D');\n    return [msg,null]; \n}\n","outputs":2,"noerr":0,"x":440,"y":1080,"wires":[["6ad1696a.71a418"],["479894d0.f3ba5c"]]},{"id":"479894d0.f3ba5c","type":"change","z":"29a303e.52cb9fc","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"<i class=\"fa fa-rotate-90 fa-folder-o\"></i> Closed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":1080,"wires":[["3900dffa.34b24"]]},{"id":"89b0c353.fb7b8","type":"ui_button","z":"29a303e.52cb9fc","name":"","group":"b32a3d5a.20cd3","order":1,"width":"0","height":"0","passthru":false,"label":"Brodeuse","tooltip":"","color":"","bgcolor":"{{colour}}","icon":"","payload":"press","payloadType":"str","topic":"","x":860,"y":1180,"wires":[["8fc25e7c.ccd2f8"]]},{"id":"e9cf3d23.d29ed","type":"change","z":"29a303e.52cb9fc","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"<i class=\"fa fa-rotate-90 fa-folder-open-o\"></i> OPEN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":1140,"wires":[["89b0c353.fb7b8"]]},{"id":"9e327f6.4c03d","type":"inject","z":"29a303e.52cb9fc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"","payloadType":"str","x":70,"y":1160,"wires":[[]]},{"id":"8fc25e7c.ccd2f8","type":"function","z":"29a303e.52cb9fc","name":"state_Brodeuse","func":"var state_Brodeuse = context.state_Brodeuse || false;\nstate_Brodeuse = !state_Brodeuse;\ncontext.state_Brodeuse = state_Brodeuse;\nif (state_Brodeuse) { \n        global.set(\"Brodeuse\", '');\n    return [null,msg]; \n }\nelse { \n        global.set(\"Brodeuse\", 'Brodeuse');\n    return [msg,null];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":460,"y":1180,"wires":[["e9cf3d23.d29ed"],["896c606b.1ea6c"]]},{"id":"896c606b.1ea6c","type":"change","z":"29a303e.52cb9fc","name":"","rules":[{"t":"set","p":"colour","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"<i class=\"fa fa-rotate-90 fa-folder-o\"></i> Closed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":1180,"wires":[["89b0c353.fb7b8"]]},{"id":"bb322529.04c8e8","type":"ui_ui_control","z":"29a303e.52cb9fc","name":"","events":"connect","x":100,"y":940,"wires":[["897188a5.69b83","2f9fb2f.0f0db4e","2c140cd5.1e901c","3f6fc563.9c341a","a8377114.927cb8"]]},{"id":"7435c726.9a89e","type":"ui_button","z":"29a303e.52cb9fc","name":"","group":"85b3fe17.fa63e8","order":5,"width":"0","height":"0","passthru":false,"label":"Autonome","tooltip":"","color":"","bgcolor":"{{color1}}","icon":"","payload":"1","payloadType":"num","topic":"","topicType":"str","x":570,"y":1260,"wires":[["2e2f9e6a.d05042"]]},{"id":"2e2f9e6a.d05042","type":"function","z":"29a303e.52cb9fc","name":"state_autonomie","func":"var Boutton = msg.payload;\nmsg.color1=\"green\";\nif (Boutton==1) { \n    global.set(\"Auto\", 3);\n    msg.color1=\"green\";\n    msg.color2=\"blue\";\n    msg.color3=\"blue\";\n    return msg; \n }\nelse if (Boutton==2) { \n    global.set(\"Auto\", 2);\n    msg.color1=\"blue\";\n    msg.color2=\"green\";\n    msg.color3=\"blue\";\n\n    return msg; \n}\nelse if (Boutton==3) { \n    global.set(\"Auto\", 1);\n    msg.color1=\"blue\";\n    msg.color2=\"blue\";\n    msg.color3=\"green\";\n\n    return msg; \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":1300,"wires":[["7435c726.9a89e","3f19ad44.60ce1a","547888b2.265b9"]]},{"id":"3f19ad44.60ce1a","type":"ui_button","z":"29a303e.52cb9fc","name":"","group":"85b3fe17.fa63e8","order":6,"width":"0","height":"0","passthru":false,"label":"Apprenti","tooltip":"","color":"","bgcolor":"{{color2}}","icon":"","payload":"2","payloadType":"num","topic":"","x":560,"y":1300,"wires":[["2e2f9e6a.d05042"]]},{"id":"547888b2.265b9","type":"ui_button","z":"29a303e.52cb9fc","name":"","group":"85b3fe17.fa63e8","order":7,"width":"0","height":"0","passthru":false,"label":"Assité","tooltip":"","color":"","bgcolor":"{{color3}}","icon":"","payload":"3","payloadType":"num","topic":"","x":550,"y":1340,"wires":[["2e2f9e6a.d05042"]]},{"id":"b89aa22c.95287","type":"ui_button","z":"29a303e.52cb9fc","name":"","group":"4818396.cf68cc8","order":5,"width":"0","height":"0","passthru":false,"label":"supprimer dernière entrer","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":1420,"wires":[["1b847aa8.248705"]]},{"id":"fec3e096.a2231","type":"sqlite","z":"29a303e.52cb9fc","mydb":"fdc6d2cd.47a618","sqlquery":"msg.topic","sql":"","name":"bocal","x":490,"y":1420,"wires":[[]]},{"id":"1b847aa8.248705","type":"change","z":"29a303e.52cb9fc","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"DELETE FROM  fablab_log  WHERE Log_id=(SELECT Max(Log_id) from fablab_log);","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":1420,"wires":[["fec3e096.a2231"]]},{"id":"897188a5.69b83","type":"function","z":"29a303e.52cb9fc","name":"reset state_cnc","func":"var state_cnc = context.state_cnc || false;\nstate_cnc = !state_cnc;\ncontext.state_cnc = state_cnc;\nif (state_cnc) { \n    global.set(\"cnc\", '');\n    return [null,msg];\n    }\nelse { \n\n    \n    global.set(\"cnc\", '');\n    return [null,msg]; \n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":460,"y":740,"wires":[["fe3213b3.b62b3"],["ec834798.51b55"]]},{"id":"2f9fb2f.0f0db4e","type":"function","z":"29a303e.52cb9fc","name":"reset state_laser","func":"var state_laser = context.state_laser || false;\nstate_laser = !state_laser;\ncontext.state_laser = state_laser;\nif (state_laser) { \n    global.set(\"laser\", '');\n    return [null,msg];\n }\nelse { \n    global.set(\"laser\", '');\n    return [null,msg];\n }\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":470,"y":840,"wires":[["f7c24328.95e04"],["312d23f2.69caa4"]]},{"id":"2c140cd5.1e901c","type":"function","z":"29a303e.52cb9fc","name":"reset state_vinyl","func":"var state_vinyl = context.state_vinyl || false;\nstate_vinyl = !state_vinyl;\ncontext.state_vinyl = state_vinyl;\nif (state_vinyl) { \n        global.set(\"vinyl\", '');\n    return [null,msg]; \n}\nelse { \n\n        global.set(\"vinyl\", '');\n    return [null,msg]; \n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":460,"y":940,"wires":[["32765628.d1ce72"],["9691d570.666768"]]},{"id":"3f6fc563.9c341a","type":"function","z":"29a303e.52cb9fc","name":"reset state_3D","func":"var state_3D = context.state_3D || false;\nstate_3D = !state_3D;\ncontext.state_3D = state_3D;\nif (state_3D) { \n        global.set(\"3D\", '');\n    return [null,msg]; \n}\nelse { \n        global.set(\"3D\", '');\n    return [null,msg]; \n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":460,"y":1040,"wires":[["6ad1696a.71a418"],["479894d0.f3ba5c"]]},{"id":"a8377114.927cb8","type":"function","z":"29a303e.52cb9fc","name":"reset state_Brodeuse","func":"var state_Brodeuse = context.state_Brodeuse || false;\nstate_Brodeuse = !state_Brodeuse;\ncontext.state_Brodeuse = state_Brodeuse;\nif (state_Brodeuse) { \n        global.set(\"Brodeuse\", '');\n    return [null,msg]; \n }\nelse { \n        global.set(\"Brodeuse\", '');\n    return [null,msg];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":480,"y":1140,"wires":[["e9cf3d23.d29ed"],["896c606b.1ea6c"]]},{"id":"672967cc.b95b18","type":"debug","z":"29a303e.52cb9fc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":1360,"wires":[]},{"id":"291c7918.6c72f6","type":"sqlite","z":"29a303e.52cb9fc","mydb":"fdc6d2cd.47a618","sqlquery":"msg.topic","sql":"","name":"bocal","x":490,"y":1500,"wires":[[]]},{"id":"9a963cb.bfd884","type":"ui_text_input","z":"29a303e.52cb9fc","name":"","label":"supprimer id","tooltip":"","group":"4818396.cf68cc8","order":3,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"Current value","topicType":"str","x":70,"y":1500,"wires":[["7ee00ef9.d081"]]},{"id":"7ee00ef9.d081","type":"change","z":"29a303e.52cb9fc","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"DELETE FROM  fablab_log  WHERE Log_id = 'toto' ","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"toto","fromt":"str","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1500,"wires":[["291c7918.6c72f6"]]},{"id":"7cf450e2.4f8bc","type":"comment","z":"29a303e.52cb9fc","name":"","info":"fonction de supression par nombre qui fonctionne,il suffit d'entre l'id pour supprimer la ligne,il manque juste a importer les log_id sur le dashboard pour savoir qui enlever ","x":620,"y":1500,"wires":[]},{"id":"f9f523de.dd38b","type":"comment","z":"29a303e.52cb9fc","name":"","info":"supprimer la dernière donnée rentrée et fonctionne","x":620,"y":1420,"wires":[]},{"id":"3f4990fa.0201b8","type":"comment","z":"29a303e.52cb9fc","name":"","info":"cette zone correspond a l'endroit ou sont inscrit les donnée rentrer j'ai penser que pour afficher l'id il fallait passer par ici mais pas réussis et fin de stage.","x":860,"y":500,"wires":[]}]